# Database Design Project: Database for Basketball Statistics

By: Natthaphat Punccharnon (6580468)

Some features have been cut due to technical difficulties.

In [239]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [213]:
%%sql

postgresql://root:F0M3OU71pvd1KoTrbw72OjS00N0CRPi4@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics

In [214]:
%%sql

-- RUN THIS ONLY ONCE
-- create tables

DROP TABLE IF EXISTS teams CASCADE;
DROP TABLE IF EXISTS games CASCADE;
DROP TABLE IF EXISTS players CASCADE;
DROP TABLE IF EXISTS box_scores CASCADE;

CREATE TABLE teams (
    team_id SERIAL PRIMARY KEY,
    team_name VARCHAR UNIQUE
);

CREATE TABLE games (
    game_id SERIAL PRIMARY KEY,
    game_date DATE,
    home_team_id INT,
    away_team_id INT,
    home_team_points INT DEFAULT 0,
    away_team_points INT DEFAULT 0,
    FOREIGN KEY (home_team_id) REFERENCES teams (team_id),
    FOREIGN KEY (away_team_id) REFERENCES teams (team_id)
);

CREATE TABLE players (
    player_id SERIAL PRIMARY KEY,
    player_name VARCHAR,
    preferred_position VARCHAR,
    handedness VARCHAR,
    height_cm INT,
    weight_kg INT,
    team_id INT,
    birthday DATE,
    gender VARCHAR,
    FOREIGN KEY (team_id) REFERENCES teams (team_id)
);

CREATE TABLE box_scores (
    box_score_id SERIAL PRIMARY KEY,
    game_id INT,
    team_id INT,
    player_id INT,
    is_starter BOOLEAN,
    minutes_played DECIMAL,
    field_goals_made INT,
    field_goals_attempted INT,
    three_pointers_made INT,
    three_pointers_attempted INT,
    free_throws_made INT,
    free_throws_attempted INT,
    offensive_rebounds INT,
    defensive_rebounds INT,
    assists INT,
    steals INT,
    blocks INT,
    turnovers INT,
    personal_fouls INT,
    plus_minus INT,
    FOREIGN KEY (team_id) REFERENCES teams (team_id),
    FOREIGN KEY (player_id) REFERENCES players (player_id),
    FOREIGN KEY (game_id) REFERENCES games (game_id)
);

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [215]:
%%sql

-- views that update each time you read them

CREATE OR REPLACE VIEW view_box_scores AS (
    SELECT
        bs.box_score_id,
        bs.game_id,
        bs.team_id,
        t.team_name,
        bs.player_id,
        p.player_name,
        bs.is_starter,
        bs.minutes_played,
        bs.field_goals_made,
        bs.field_goals_attempted,
        ROUND ((COALESCE ((bs.field_goals_made * 1.0 / (NULLIF (bs.field_goals_attempted, 0))), 0)), 3) AS field_goals_percentage,
        bs.three_pointers_made,
        bs.three_pointers_attempted,
        ROUND ((COALESCE ((bs.three_pointers_made * 1.0 / (NULLIF (bs.three_pointers_attempted, 0))), 0)), 3) AS three_pointers_percentage,
        bs.free_throws_made,
        bs.free_throws_attempted,
        ROUND ((COALESCE ((bs.free_throws_made * 1.0 / (NULLIF (bs.free_throws_attempted, 0))), 0)), 3) AS free_throws_percentage,
        bs.offensive_rebounds,
        bs.defensive_rebounds,
        (bs.offensive_rebounds + bs.defensive_rebounds) AS total_rebounds,
        bs.assists,
        bs.steals,
        bs.blocks,
        bs.turnovers,
        bs.personal_fouls,
        (((bs.field_goals_made - bs.three_pointers_made) * 2) + (bs.three_pointers_made * 3) + bs.free_throws_made) AS points,
        bs.plus_minus
    FROM box_scores bs
    JOIN teams t ON bs.team_id = t.team_id
    JOIN players p ON bs.player_id = p.player_id
    ORDER BY bs.game_id
);

CREATE OR REPLACE VIEW view_games AS (
    SELECT
        g.game_id,
        g.game_date,
        g.home_team_id,
        home_team.team_name AS home_team_name,
        g.away_team_id,
        away_team.team_name AS away_team_name,
        COALESCE(SUM(CASE WHEN bs.team_id = g.home_team_id THEN bs.points ELSE 0 END), 0)::INT AS home_team_points,
        COALESCE(SUM(CASE WHEN bs.team_id = g.away_team_id THEN bs.points ELSE 0 END), 0)::INT AS away_team_points,
        CASE
            WHEN COALESCE(SUM(CASE WHEN bs.team_id = g.home_team_id THEN bs.points ELSE 0 END), 0) >
                 COALESCE(SUM(CASE WHEN bs.team_id = g.away_team_id THEN bs.points ELSE 0 END), 0)
            THEN g.home_team_id
            WHEN COALESCE(SUM(CASE WHEN bs.team_id = g.away_team_id THEN bs.points ELSE 0 END), 0) >
                 COALESCE(SUM(CASE WHEN bs.team_id = g.home_team_id THEN bs.points ELSE 0 END), 0)
            THEN g.away_team_id
            ELSE NULL
        END AS winner_team_id,
        CASE
            WHEN COALESCE(SUM(CASE WHEN bs.team_id = g.home_team_id THEN bs.points ELSE 0 END), 0) >
                 COALESCE(SUM(CASE WHEN bs.team_id = g.away_team_id THEN bs.points ELSE 0 END), 0)
            THEN home_team.team_name
            WHEN COALESCE(SUM(CASE WHEN bs.team_id = g.away_team_id THEN bs.points ELSE 0 END), 0) >
                 COALESCE(SUM(CASE WHEN bs.team_id = g.home_team_id THEN bs.points ELSE 0 END), 0)
            THEN away_team.team_name
            ELSE NULL
        END AS winner_team_name
    FROM games g
    JOIN teams home_team ON g.home_team_id = home_team.team_id
    JOIN teams away_team ON g.away_team_id = away_team.team_id
    LEFT JOIN view_box_scores bs ON bs.game_id = g.game_id
    GROUP BY 
        g.game_id, g.game_date, g.home_team_id, home_team.team_name, g.away_team_id, away_team.team_name
    ORDER BY 
        g.game_date
);

CREATE OR REPLACE VIEW view_teams AS (
    SELECT 
        t.team_id,
        t.team_name,
        COUNT (CASE 
            WHEN g.winner_team_id = t.team_id THEN 1 
            ELSE NULL
        END) AS wins,
        COUNT (CASE 
            WHEN g.winner_team_id IS NOT NULL AND g.winner_team_id != t.team_id AND 
                 (g.home_team_id = t.team_id OR g.away_team_id = t.team_id) THEN 1
            ELSE NULL
        END) AS losses
    FROM teams t
    LEFT JOIN view_games g ON t.team_id = g.home_team_id OR t.team_id = g.away_team_id
    GROUP BY t.team_id, t.team_name
    ORDER BY wins DESC
);

CREATE OR REPLACE VIEW view_players AS (
    SELECT
        p.player_id,
        p.player_name,
        p.preferred_position,
        p.handedness,
        p.height_cm,
        p.weight_kg,
        p.team_id,
        t.team_name,
        p.birthday,
        (EXTRACT (YEAR FROM AGE (p.birthday))) AS age,
        p.gender
    FROM players p
    JOIN teams t ON p.team_id = t.team_id
    ORDER BY p.player_name
);

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
Done.
Done.
Done.

[]

In [216]:
%%sql

-- insertion procedures

-- procedure to insert one or more teams

DROP PROCEDURE IF EXISTS insert_team;

CREATE PROCEDURE insert_team (p_team_name VARCHAR []) AS $$
    BEGIN
        INSERT INTO teams (team_name) SELECT UNNEST (p_team_name)
        ON CONFLICT (team_name) DO NOTHING;
    END
$$ LANGUAGE PLPGSQL;

-- procedures to insert a scheduled game

CREATE OR REPLACE PROCEDURE insert_game (
    p_game_date DATE,
    p_home_team_id INT,
    p_away_team_id INT
) AS $$
    INSERT INTO games (game_date, home_team_id, away_team_id)
    VALUES (p_game_date, p_home_team_id, p_away_team_id);
$$ LANGUAGE SQL;

-- procedure to insert a player

CREATE OR REPLACE PROCEDURE insert_player (
    p_player_name VARCHAR,
    p_preferred_position VARCHAR,
    p_handedness VARCHAR,
    p_height_cm INT,
    p_weight_kg INT,
    p_team_id INT,
    p_birthday DATE,
    p_gender VARCHAR
) AS $$
    INSERT INTO players (
        player_name,
        preferred_position,
        handedness,
        height_cm,
        weight_kg,
        team_id,
        birthday,
        gender
    ) VALUES (
        p_player_name,
        p_preferred_position,
        p_handedness,
        p_height_cm,
        p_weight_kg,
        p_team_id,
        p_birthday,
        p_gender
    );
$$ LANGUAGE SQL;

-- procedure to insert a box score

CREATE OR REPLACE PROCEDURE insert_box_score (
    p_game_id INT,
    p_team_id INT,
    p_player_id INT,
    p_is_starter BOOLEAN,
    p_minutes_played DECIMAL,
    p_field_goals_made INT,
    p_field_goals_attempted INT,
    p_three_pointers_made INT,
    p_three_pointers_attempted INT,
    p_free_throws_made INT,
    p_free_throws_attempted INT,
    p_offensive_rebounds INT,
    p_defensive_rebounds INT,
    p_assists INT,
    p_steals INT,
    p_blocks INT,
    p_turnovers INT,
    p_personal_fouls INT,
    p_plus_minus INT
) AS $$
    INSERT INTO box_scores (
        game_id,
        team_id,
        player_id,
        is_starter,
        minutes_played,
        field_goals_made,
        field_goals_attempted,
        three_pointers_made,
        three_pointers_attempted,
        free_throws_made,
        free_throws_attempted,
        offensive_rebounds,
        defensive_rebounds,
        assists,
        steals,
        blocks,
        turnovers,
        personal_fouls,
        plus_minus
    ) VALUES (
        p_game_id,
        p_team_id,
        p_player_id,
        p_is_starter,
        p_minutes_played,
        p_field_goals_made,
        p_field_goals_attempted,
        p_three_pointers_made,
        p_three_pointers_attempted,
        p_free_throws_made,
        p_free_throws_attempted,
        p_offensive_rebounds,
        p_defensive_rebounds,
        p_assists,
        p_steals,
        p_blocks,
        p_turnovers,
        p_personal_fouls,
        p_plus_minus
    );
$$ LANGUAGE SQL;

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
Done.
Done.
Done.
Done.

[]

In [217]:
%%sql

-- add dummy data

-- dummy data example (teams)

CALL insert_team (ARRAY [
    'Atlanta Hawks',
    'Boston Celtics',
    'Brooklyn Nets',
    'Charlotte Hornets',
    'Chicago Bulls',
    'Cleveland Cavaliers',
    'Dallas Mavericks',
    'Denver Nuggets',
    'Detroit Pistons',
    'Golden State Warriors',
    'Houston Rockets',
    'Indiana Pacers',
    'Los Angeles Clippers',
    'Los Angeles Lakers',
    'Memphis Grizzlies',
    'Miami Heat',
    'Milwaukee Bucks',
    'Minnesota Timberwolves',
    'New Orleans Pelicans',
    'New York Knicks',
    'Oklahoma City Thunder',
    'Orlando Magic',
    'Philadelphia 76ers',
    'Phoenix Suns',
    'Portland Trail Blazers',
    'Sacramento Kings',
    'San Antonio Spurs',
    'Toronto Raptors',
    'Utah Jazz',
    'Washington Wizards'
]);

-- dummy data (games)

CALL insert_game ('2024-11-27', 6, 1);
CALL insert_game ('2024-11-29', 1, 6);

-- dummy data (players)

-- Atlanta Hawks
CALL insert_player('Trae Young', 'PG', 'right', 185, 74, 1, '1998-09-19', 'male');
CALL insert_player('Dyson Daniels', 'SG', 'right', 203, 90, 1, '2003-11-17', 'male');
CALL insert_player('Jalen Johnson', 'SF', 'left', 206, 99, 1, '2001-12-18', 'male');
CALL insert_player('Clint Capela', 'C', 'right', 208, 108, 1, '1994-05-18', 'male');
CALL insert_player('Zaccharie Risacher', 'SF', 'right', 203, 90, 1, '2005-04-08', 'male');
CALL insert_player('De''Andre Hunter', 'SF', 'right', 203, 102, 1, '1997-12-02', 'male');
CALL insert_player('Onyeka Okongwu', 'C', 'right', 203, 106, 1, '2000-12-11', 'male');
CALL insert_player('Bogdan Bogdanović', 'SG', 'right', 196, 99, 1, '1992-08-18', 'male');
CALL insert_player('Kobe Bufkin', 'SG', 'right', 193, 88, 1, '2003-08-21', 'male');
-- Cleveland Cavaliers
CALL insert_player('Evan Mobley', 'PF', 'right', 211, 97, 6, '2001-06-18', 'male');
CALL insert_player('Donovan Mitchell', 'SG', 'right', 190, 97, 6, '1996-09-07', 'male');
CALL insert_player('Darius Garland', 'PG', 'right', 185, 87, 6, '2000-01-26', 'male');
CALL insert_player('Jarrett Allen', 'C', 'right', 211, 110, 6, '1998-04-21', 'male');
CALL insert_player('Issac Okoro', 'SG', 'right', 196, 102, 6, '2001-01-26', 'male');
CALL insert_player('Ty Jerome', 'SG', 'right', 196, 88, 6, '1997-07-08', 'male');
CALL insert_player('Georges Niang', 'PF', 'right', 201, 104, 6, '1993-06-17', 'male');
CALL insert_player('Sam Merrill', 'SG', 'right', 193, 92, 6, '1996-05-15', 'male');
CALL insert_player('Jaylon Tyson', 'SF', 'right', 198, 97, 6, '2002-12-02', 'male');
CALL insert_player('Craig Porter Jr.', 'PG', 'right', 188, 84, 6, '2000-02-26', 'male');
CALL insert_player('Caris LeVert', 'SG', 'right', 198, 92, 6, '1994-08-25', 'male');

-- dummy data (games)

-- first game (Atlanta Hawk vs Cleveland Cavaliers)
CALL insert_box_score(1, 1, 1, TRUE, 36.95, 6,18,3,13,5,5,0,4,22,0,0,5,3,+5); -- Trae Young
CALL insert_box_score(1, 1, 2, TRUE, 35.75, 4,11,2,3,2,2,3,7,1,2,0,2,4,+5); -- Dyson Daniels
CALL insert_box_score(1, 1, 3, TRUE, 34.85, 9,16,2,4,2,2,2,7,7,1,1,2,2,+10); -- Jalen Johnson
CALL insert_box_score(1, 1, 4, TRUE, 18.53, 1,7,0,0,0,0,6,3,3,1,0,1,2,+3); -- Clint Capela
CALL insert_box_score(1, 1, 5, TRUE, 17.08, 6,10,3,6,2,2,0,2,0,1,1,0,1,+1); -- Zaccharie Risacher
CALL insert_box_score(1, 1, 6, FALSE, 30.47, 9,16,5,9,3,4,0,5,1,0,0,3,2,+11); -- De'Andre Hunter
CALL insert_box_score(1, 1, 7, FALSE, 29.47, 5,7,0,0,0,0,2,3,4,0,2,2,4,+8); -- Onyeka Okongwu
CALL insert_box_score(1, 1, 8, FALSE, 25.85, 4,8,3,5,6,6,0,3,0,0,1,0,2,+6); -- Bogdan Bogdanović
CALL insert_box_score(1, 1, 9, FALSE, 11.05, 2,4,2,2,3,4,1,3,1,1,0,0,1,+6); -- Kobe Bufkin
CALL insert_box_score(1, 6, 10, TRUE, 36.57, 7,15,1,3,7,10,4,8,5,4,3,0,2,0); -- Evan Mobley
CALL insert_box_score(1, 6, 11, TRUE, 36.42, 10,24,4,14,6,8,0,4,7,2,1,3,3,0); -- Donovan Mitchell
CALL insert_box_score(1, 6, 12, TRUE, 32.57, 7,14,2,7,3,3,1,1,7,1,0,1,3,-14); -- Darius Garland
CALL insert_box_score(1, 6, 13, TRUE, 31.67, 6,7,0,0,5,7,2,8,1,1,0,1,2,-12); -- Jarrett Allen
CALL insert_box_score(1, 6, 14, TRUE, 22.73, 3,8,2,5,0,0,2,2,3,0,0,0,1,-3); -- Isaac Okoro
CALL insert_box_score(1, 6, 15, FALSE, 24.05, 3,8,2,5,0,0,0,0,6,3,0,3,3,-17); -- Ty Jerome
CALL insert_box_score(1, 6, 16, FALSE, 21.20, 3,8,2,7,0,0,2,6,1,0,0,3,3,-2); -- Georges Niang
CALL insert_box_score(1, 6, 17, FALSE, 16.90, 4,8,2,6,0,0,1,1,0,0,1,1,2,-8); -- Sam Merrill
CALL insert_box_score(1, 6, 18, FALSE, 10.73, 1,2,0,0,0,0,0,2,1,0,0,0,2,-3); -- Jaylon Tyson
CALL insert_box_score(1, 6, 19, FALSE, 7.16, 0,1,0,1,0,0,0,0,0,0,0,0,0,+4); -- Craig Porter Jr.
-- second game (Cleveland Cavaliers vs Atlanta Hawks)
CALL insert_box_score(2, 6, 10, TRUE, 36.78, 10,17,0,3,4,4,4,8,3,1,0,1,2,-6); -- Evan Mobley
CALL insert_box_score(2, 6, 11, TRUE, 35.05, 5,23,2,10,0,0,2,9,6,2,0,2,3,-13); -- Donovan Mitchell
CALL insert_box_score(2, 6, 12, TRUE, 33.02, 11,19,5,8,2,2,1,2,5,1,0,2,3,-4); -- Darius Garland
CALL insert_box_score(2, 6, 13, TRUE, 25.25, 3,3,0,0,0,0,0,5,0,0,0,1,2,-9); -- Jarrett Allen
CALL insert_box_score(2, 6, 14, TRUE, 18.33, 0,5,0,2,2,2,1,0,1,1,0,2,2,-12); -- Isaac Okoro
CALL insert_box_score(2, 6, 15, FALSE, 17.73, 3,7,0,1,1,1,0,3,1,3,0,2,3,-8); -- Ty Jerome
CALL insert_box_score(2, 6, 16, FALSE, 20.48, 1,6,0,4,1,2,0,1,2,0,0,1,0,-8); -- Georges Niang
CALL insert_box_score(2, 6, 17, FALSE, 19.90, 2,7,2,7,1,2,0,0,1,0,0,0,3,-6); -- Sam Merrill
CALL insert_box_score(2, 6, 18, FALSE, 10.19, 1,1,0,0,1,2,3,0,0,1,0,1,2,-2); -- Jaylon Tyson
CALL insert_box_score(2, 6, 20, FALSE, 20.27, 2,5,2,3,2,2,0,1,2,0,0,1,2,-10); -- Caris LeVert
CALL insert_box_score(2, 1, 1, TRUE, 34.68, 7,12,2,5,5,5,0,3,11,0,0,7,4,+10); -- Trae Young
CALL insert_box_score(2, 1, 2, TRUE, 34.68, 3,10,1,2,0,2,2,5,4,3,1,3,3,+10); -- Dyson Daniels
CALL insert_box_score(2, 1, 3, TRUE, 34.98, 9,14,2,4,0,0,0,9,7,1,0,3,2,+17); -- Jalen Johnson
CALL insert_box_score(2, 1, 4, TRUE, 25.45, 4,7,0,0,0,0,3,10,1,2,3,1,1,+15); -- Clint Capela
CALL insert_box_score(2, 1, 5, TRUE, 20.58, 4,8,2,4,1,2,1,2,1,1,1,1,3,+1); -- Zaccharie Risacher
CALL insert_box_score(2, 1, 6, FALSE, 27.93, 7,12,4,7,5,5,0,5,3,0,0,1,1,+14); -- De'Andre Hunter
CALL insert_box_score(2, 1, 7, FALSE, 21.70, 6,8,1,2,2,2,2,5,2,0,0,0,0,+3); -- Onyeka Okongwu
CALL insert_box_score(2, 1, 8, FALSE, 24.12, 4,11,2,8,0,0,2,4,1,1,0,1,5,+10); -- Bogdan Bogdanović
CALL insert_box_score(2, 1, 9, FALSE, 15.88, 0,3,0,2,2,2,0,0,3,1,0,1,1,+6); -- Kobe Bufkin

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [218]:
%%sql 

-- R: Read

SELECT * FROM view_box_scores;

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
38 rows affected.

[(1, 1, 1, 'Atlanta Hawks', 1, 'Trae Young', True, Decimal('36.95'), 6, 18, Decimal('0.333'), 3, 13, Decimal('0.231'), 5, 5, Decimal('1.000'), 0, 4, 4, 22, 0, 0, 5, 3, 20, 5),
 (2, 1, 1, 'Atlanta Hawks', 2, 'Dyson Daniels', True, Decimal('35.75'), 4, 11, Decimal('0.364'), 2, 3, Decimal('0.667'), 2, 2, Decimal('1.000'), 3, 7, 10, 1, 2, 0, 2, 4, 12, 5),
 (3, 1, 1, 'Atlanta Hawks', 3, 'Jalen Johnson', True, Decimal('34.85'), 9, 16, Decimal('0.563'), 2, 4, Decimal('0.500'), 2, 2, Decimal('1.000'), 2, 7, 9, 7, 1, 1, 2, 2, 22, 10),
 (4, 1, 1, 'Atlanta Hawks', 4, 'Clint Capela', True, Decimal('18.53'), 1, 7, Decimal('0.143'), 0, 0, Decimal('0.000'), 0, 0, Decimal('0.000'), 6, 3, 9, 3, 1, 0, 1, 2, 2, 3),
 (5, 1, 1, 'Atlanta Hawks', 5, 'Zaccharie Risacher', True, Decimal('17.08'), 6, 10, Decimal('0.600'), 3, 6, Decimal('0.500'), 2, 2, Decimal('1.000'), 0, 2, 2, 0, 1, 1, 0, 1, 17, 1),
 (6, 1, 1, 'Atlanta Hawks', 6, "De'Andre Hunter", False, Decimal('30.47'), 9, 16, Decimal('0.563'), 5, 9, Decimal('0.556'), 3, 4, Decimal('0.750'), 0, 5, 5, 1, 0, 0, 3, 2, 26, 11),
 (7, 1, 1, 'Atlanta Hawks', 7, 'Onyeka Okongwu', False, Decimal('29.47'), 5, 7, Decimal('0.714'), 0, 0, Decimal('0.000'), 0, 0, Decimal('0.000'), 2, 3, 5, 4, 0, 2, 2, 4, 10, 8),
 (8, 1, 1, 'Atlanta Hawks', 8, 'Bogdan Bogdanović', False, Decimal('25.85'), 4, 8, Decimal('0.500'), 3, 5, Decimal('0.600'), 6, 6, Decimal('1.000'), 0, 3, 3, 0, 0, 1, 0, 2, 17, 6),
 (9, 1, 1, 'Atlanta Hawks', 9, 'Kobe Bufkin', False, Decimal('11.05'), 2, 4, Decimal('0.500'), 2, 2, Decimal('1.000'), 3, 4, Decimal('0.750'), 1, 3, 4, 1, 1, 0, 0, 1, 9, 6),
 (10, 1, 6, 'Cleveland Cavaliers', 10, 'Evan Mobley', True, Decimal('36.57'), 7, 15, Decimal('0.467'), 1, 3, Decimal('0.333'), 7, 10, Decimal('0.700'), 4, 8, 12, 5, 4, 3, 0, 2, 22, 0),
 (11, 1, 6, 'Cleveland Cavaliers', 11, 'Donovan Mitchell', True, Decimal('36.42'), 10, 24, Decimal('0.417'), 4, 14, Decimal('0.286'), 6, 8, Decimal('0.750'), 0, 4, 4, 7, 2, 1, 3, 3, 30, 0),
 (12, 1, 6, 'Cleveland Cavaliers', 12, 'Darius Garland', True, Decimal('32.57'), 7, 14, Decimal('0.500'), 2, 7, Decimal('0.286'), 3, 3, Decimal('1.000'), 1, 1, 2, 7, 1, 0, 1, 3, 19, -14),
 (13, 1, 6, 'Cleveland Cavaliers', 13, 'Jarrett Allen', True, Decimal('31.67'), 6, 7, Decimal('0.857'), 0, 0, Decimal('0.000'), 5, 7, Decimal('0.714'), 2, 8, 10, 1, 1, 0, 1, 2, 17, -12),
 (14, 1, 6, 'Cleveland Cavaliers', 14, 'Issac Okoro', True, Decimal('22.73'), 3, 8, Decimal('0.375'), 2, 5, Decimal('0.400'), 0, 0, Decimal('0.000'), 2, 2, 4, 3, 0, 0, 0, 1, 8, -3),
 (15, 1, 6, 'Cleveland Cavaliers', 15, 'Ty Jerome', False, Decimal('24.05'), 3, 8, Decimal('0.375'), 2, 5, Decimal('0.400'), 0, 0, Decimal('0.000'), 0, 0, 0, 6, 3, 0, 3, 3, 8, -17),
 (16, 1, 6, 'Cleveland Cavaliers', 16, 'Georges Niang', False, Decimal('21.20'), 3, 8, Decimal('0.375'), 2, 7, Decimal('0.286'), 0, 0, Decimal('0.000'), 2, 6, 8, 1, 0, 0, 3, 3, 8, -2),
 (17, 1, 6, 'Cleveland Cavaliers', 17, 'Sam Merrill', False, Decimal('16.90'), 4, 8, Decimal('0.500'), 2, 6, Decimal('0.333'), 0, 0, Decimal('0.000'), 1, 1, 2, 0, 0, 1, 1, 2, 10, -8),
 (18, 1, 6, 'Cleveland Cavaliers', 18, 'Jaylon Tyson', False, Decimal('10.73'), 1, 2, Decimal('0.500'), 0, 0, Decimal('0.000'), 0, 0, Decimal('0.000'), 0, 2, 2, 1, 0, 0, 0, 2, 2, -3),
 (19, 1, 6, 'Cleveland Cavaliers', 19, 'Craig Porter Jr.', False, Decimal('7.16'), 0, 1, Decimal('0.000'), 0, 1, Decimal('0.000'), 0, 0, Decimal('0.000'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 4),
 (20, 2, 6, 'Cleveland Cavaliers', 10, 'Evan Mobley', True, Decimal('36.78'), 10, 17, Decimal('0.588'), 0, 3, Decimal('0.000'), 4, 4, Decimal('1.000'), 4, 8, 12, 3, 1, 0, 1, 2, 24, -6),
 (21, 2, 6, 'Cleveland Cavaliers', 11, 'Donovan Mitchell', True, Decimal('35.05'), 5, 23, Decimal('0.217'), 2, 10, Decimal('0.200'), 0, 0, Decimal('0.000'), 2, 9, 11, 6, 2, 0, 2, 3, 12, -13),
 (22, 2, 6, 'Cleveland Cavaliers', 12, 'Darius Garland', True, Decimal('33.02'), 11, 19, Decimal('0.579'), 5, 8, Decimal('0.625'), 2, 2, Decimal('1.000'), 1, 2, 3, 5, 1, 0, 2, 3, 29, -4),
 (23, 2, 6, 'Cleveland Cavaliers', 13, 'Jarrett Allen', True, Decimal('25.25'), 3, 3, Decimal('1.000'), 0, 0, Decimal('0.000'), 0, 0, Decimal('0.000'), 0, 5, 5, 0, 0, 0, 1, 2, 6, -9),
 (24, 2, 6, 'Cleveland Cavaliers', 14, 'Issac Okoro', True, Decimal('18.33'), 0, 5, Decimal('0.000'), 0, 2, Decimal('0.000'), 2, 2, Decimal('1.000'), 1, 0, 1, 1, 1, 0, 2, 2, 2, -12),
 (25, 2, 6, 'Cleveland Cavaliers', 15, 'Ty Jerome', False, Decimal('17.73'), 3, 7, Decimal('0.429'), 0, 1, Decimal('0.000'), 1, 1, Decimal('1.000'), 0, 3, 3, 1, 3, 0, 2, 3, 7, -8),
 (26, 2, 6, 'Cleveland Cavaliers', 16, 'Georges Niang', False, Decimal('20.48'), 1, 6, Decimal('0.167'), 0, 4, Decimal('0.000'), 1, 2, Decimal('0.500'), 0, 1, 1, 2, 0, 0, 1, 0, 3, -8),
 (27, 2, 6, 'Cleveland Cavaliers', 17, 'Sam Merrill', False, Decimal('19.90'), 2, 7, Decimal('0.286'), 2, 7, Decimal('0.286'), 1, 2, Decimal('0.500'), 0, 0, 0, 1, 0, 0, 0, 3, 7, -6),
 (28, 2, 6, 'Cleveland Cavaliers', 18, 'Jaylon Tyson', False, Decimal('10.19'), 1, 1, Decimal('1.000'), 0, 0, Decimal('0.000'), 1, 2, Decimal('0.500'), 3, 0, 3, 0, 1, 0, 1, 2, 3, -2),
 (29, 2, 6, 'Cleveland Cavaliers', 20, 'Caris LeVert', False, Decimal('20.27'), 2, 5, Decimal('0.400'), 2, 3, Decimal('0.667'), 2, 2, Decimal('1.000'), 0, 1, 1, 2, 0, 0, 1, 2, 8, -10),
 (30, 2, 1, 'Atlanta Hawks', 1, 'Trae Young', True, Decimal('34.68'), 7, 12, Decimal('0.583'), 2, 5, Decimal('0.400'), 5, 5, Decimal('1.000'), 0, 3, 3, 11, 0, 0, 7, 4, 21, 10),
 (31, 2, 1, 'Atlanta Hawks', 2, 'Dyson Daniels', True, Decimal('34.68'), 3, 10, Decimal('0.300'), 1, 2, Decimal('0.500'), 0, 2, Decimal('0.000'), 2, 5, 7, 4, 3, 1, 3, 3, 7, 10),
 (32, 2, 1, 'Atlanta Hawks', 3, 'Jalen Johnson', True, Decimal('34.98'), 9, 14, Decimal('0.643'), 2, 4, Decimal('0.500'), 0, 0, Decimal('0.000'), 0, 9, 9, 7, 1, 0, 3, 2, 20, 17),
 (33, 2, 1, 'Atlanta Hawks', 4, 'Clint Capela', True, Decimal('25.45'), 4, 7, Decimal('0.571'), 0, 0, Decimal('0.000'), 0, 0, Decimal('0.000'), 3, 10, 13, 1, 2, 3, 1, 1, 8, 15),
 (34, 2, 1, 'Atlanta Hawks', 5, 'Zaccharie Risacher', True, Decimal('20.58'), 4, 8, Decimal('0.500'), 2, 4, Decimal('0.500'), 1, 2, Decimal('0.500'), 1, 2, 3, 1, 1, 1, 1, 3, 11, 1),
 (35, 2, 1, 'Atlanta Hawks', 6, "De'Andre Hunter", False, Decimal('27.93'), 7, 12, Decimal('0.583'), 4, 7, Decimal('0.571'), 5, 5, Decimal('1.000'), 0, 5, 5, 3, 0, 0, 1, 1, 23, 14),
 (36, 2, 1, 'Atlanta Hawks', 7, 'Onyeka Okongwu', False, Decimal('21.70'), 6, 8, Decimal('0.750'), 1, 2, Decimal('0.500'), 2, 2, Decimal('1.000'), 2, 5, 7, 2, 0, 0, 0, 0, 15, 3),
 (37, 2, 1, 'Atlanta Hawks', 8, 'Bogdan Bogdanović', False, Decimal('24.12'), 4, 11, Decimal('0.364'), 2, 8, Decimal('0.250'), 0, 0, Decimal('0.000'), 2, 4, 6, 1, 1, 0, 1, 5, 10, 10),
 (38, 2, 1, 'Atlanta Hawks', 9, 'Kobe Bufkin', False, Decimal('15.88'), 0, 3, Decimal('0.000'), 0, 2, Decimal('0.000'), 2, 2, Decimal('1.000'), 0, 0, 0, 3, 1, 0, 1, 1, 2, 6)]

In [219]:
%%sql

SELECT * FROM view_games;

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
2 rows affected.

[(1, datetime.date(2024, 11, 27), 6, 'Cleveland Cavaliers', 1, 'Atlanta Hawks', 124, 135, 1, 'Atlanta Hawks'),
 (2, datetime.date(2024, 11, 29), 1, 'Atlanta Hawks', 6, 'Cleveland Cavaliers', 117, 101, 1, 'Atlanta Hawks')]

In [220]:
%%sql

SELECT * FROM view_teams;

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
30 rows affected.

[(1, 'Atlanta Hawks', 2, 0),
 (2, 'Boston Celtics', 0, 0),
 (3, 'Brooklyn Nets', 0, 0),
 (4, 'Charlotte Hornets', 0, 0),
 (5, 'Chicago Bulls', 0, 0),
 (6, 'Cleveland Cavaliers', 0, 2),
 (7, 'Dallas Mavericks', 0, 0),
 (8, 'Denver Nuggets', 0, 0),
 (9, 'Detroit Pistons', 0, 0),
 (10, 'Golden State Warriors', 0, 0),
 (11, 'Houston Rockets', 0, 0),
 (12, 'Indiana Pacers', 0, 0),
 (13, 'Los Angeles Clippers', 0, 0),
 (14, 'Los Angeles Lakers', 0, 0),
 (15, 'Memphis Grizzlies', 0, 0),
 (16, 'Miami Heat', 0, 0),
 (17, 'Milwaukee Bucks', 0, 0),
 (18, 'Minnesota Timberwolves', 0, 0),
 (19, 'New Orleans Pelicans', 0, 0),
 (20, 'New York Knicks', 0, 0),
 (21, 'Oklahoma City Thunder', 0, 0),
 (22, 'Orlando Magic', 0, 0),
 (23, 'Philadelphia 76ers', 0, 0),
 (24, 'Phoenix Suns', 0, 0),
 (25, 'Portland Trail Blazers', 0, 0),
 (26, 'Sacramento Kings', 0, 0),
 (27, 'San Antonio Spurs', 0, 0),
 (28, 'Toronto Raptors', 0, 0),
 (29, 'Utah Jazz', 0, 0),
 (30, 'Washington Wizards', 0, 0)]

In [221]:
%%sql

SELECT * FROM view_players;

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
20 rows affected.

[(8, 'Bogdan Bogdanović', 'SG', 'right', 196, 99, 1, 'Atlanta Hawks', datetime.date(1992, 8, 18), Decimal('32'), 'male'),
 (20, 'Caris LeVert', 'SG', 'right', 198, 92, 6, 'Cleveland Cavaliers', datetime.date(1994, 8, 25), Decimal('30'), 'male'),
 (4, 'Clint Capela', 'C', 'right', 208, 108, 1, 'Atlanta Hawks', datetime.date(1994, 5, 18), Decimal('30'), 'male'),
 (19, 'Craig Porter Jr.', 'PG', 'right', 188, 84, 6, 'Cleveland Cavaliers', datetime.date(2000, 2, 26), Decimal('24'), 'male'),
 (12, 'Darius Garland', 'PG', 'right', 185, 87, 6, 'Cleveland Cavaliers', datetime.date(2000, 1, 26), Decimal('24'), 'male'),
 (6, "De'Andre Hunter", 'SF', 'right', 203, 102, 1, 'Atlanta Hawks', datetime.date(1997, 12, 2), Decimal('27'), 'male'),
 (11, 'Donovan Mitchell', 'SG', 'right', 190, 97, 6, 'Cleveland Cavaliers', datetime.date(1996, 9, 7), Decimal('28'), 'male'),
 (2, 'Dyson Daniels', 'SG', 'right', 203, 90, 1, 'Atlanta Hawks', datetime.date(2003, 11, 17), Decimal('21'), 'male'),
 (10, 'Evan Mobley', 'PF', 'right', 211, 97, 6, 'Cleveland Cavaliers', datetime.date(2001, 6, 18), Decimal('23'), 'male'),
 (16, 'Georges Niang', 'PF', 'right', 201, 104, 6, 'Cleveland Cavaliers', datetime.date(1993, 6, 17), Decimal('31'), 'male'),
 (14, 'Issac Okoro', 'SG', 'right', 196, 102, 6, 'Cleveland Cavaliers', datetime.date(2001, 1, 26), Decimal('23'), 'male'),
 (3, 'Jalen Johnson', 'SF', 'left', 206, 99, 1, 'Atlanta Hawks', datetime.date(2001, 12, 18), Decimal('22'), 'male'),
 (13, 'Jarrett Allen', 'C', 'right', 211, 110, 6, 'Cleveland Cavaliers', datetime.date(1998, 4, 21), Decimal('26'), 'male'),
 (18, 'Jaylon Tyson', 'SF', 'right', 198, 97, 6, 'Cleveland Cavaliers', datetime.date(2002, 12, 2), Decimal('22'), 'male'),
 (9, 'Kobe Bufkin', 'SG', 'right', 193, 88, 1, 'Atlanta Hawks', datetime.date(2003, 8, 21), Decimal('21'), 'male'),
 (7, 'Onyeka Okongwu', 'C', 'right', 203, 106, 1, 'Atlanta Hawks', datetime.date(2000, 12, 11), Decimal('23'), 'male'),
 (17, 'Sam Merrill', 'SG', 'right', 193, 92, 6, 'Cleveland Cavaliers', datetime.date(1996, 5, 15), Decimal('28'), 'male'),
 (1, 'Trae Young', 'PG', 'right', 185, 74, 1, 'Atlanta Hawks', datetime.date(1998, 9, 19), Decimal('26'), 'male'),
 (15, 'Ty Jerome', 'SG', 'right', 196, 88, 6, 'Cleveland Cavaliers', datetime.date(1997, 7, 8), Decimal('27'), 'male'),
 (5, 'Zaccharie Risacher', 'SF', 'right', 203, 90, 1, 'Atlanta Hawks', datetime.date(2005, 4, 8), Decimal('19'), 'male')]

In [222]:
%%sql

-- function to calculate total player stats

CREATE OR REPLACE FUNCTION calculate_total_player_stats()
RETURNS TABLE (
    player_id INT,
    player_name VARCHAR,
    total_field_goals_made INT,
    total_field_goals_attempted INT,
    total_field_goals_percentage DECIMAL,
    total_three_pointers_made INT,
    total_three_pointers_attempted INT,
    total_three_pointers_percentage DECIMAL,
    total_free_throws_made INT,
    total_free_throws_attempted INT,
    total_free_throws_percentage DECIMAL,
    total_offensive_rebounds INT,
    total_defensive_rebounds INT,
    total_total_rebounds INT,
    total_assists INT,
    total_steals INT,
    total_blocks INT,
    total_turnovers INT,
    total_personal_fouls INT,
    total_points INT,
    total_plus_minus INT
) AS
$$
BEGIN
    RETURN QUERY
    SELECT
        bs.player_id,
        p.player_name,

        -- Total field goals made, attempted, and percentage
        SUM(bs.field_goals_made)::INT AS total_field_goals_made,
        SUM(bs.field_goals_attempted)::INT AS total_field_goals_attempted,
        ROUND(
            COALESCE(
                (SUM(bs.field_goals_made) * 1.0 / NULLIF(SUM(bs.field_goals_attempted), 0)), 
                0
            ), 3
        ) AS total_field_goals_percentage,

        -- Total three-pointers made, attempted, and percentage
        SUM(bs.three_pointers_made)::INT AS total_three_pointers_made,
        SUM(bs.three_pointers_attempted)::INT AS total_three_pointers_attempted,
        ROUND(
            COALESCE(
                (SUM(bs.three_pointers_made) * 1.0 / NULLIF(SUM(bs.three_pointers_attempted), 0)), 
                0
            ), 3
        ) AS total_three_pointers_percentage,

        -- Total free throws made, attempted, and percentage
        SUM(bs.free_throws_made)::INT AS total_free_throws_made,
        SUM(bs.free_throws_attempted)::INT AS total_free_throws_attempted,
        ROUND(
            COALESCE(
                (SUM(bs.free_throws_made) * 1.0 / NULLIF(SUM(bs.free_throws_attempted), 0)), 
                0
            ), 3
        ) AS total_free_throws_percentage,

        -- Total rebounds, assists, steals, blocks, turnovers, personal fouls, points, and plus-minus
        SUM(bs.offensive_rebounds)::INT AS total_offensive_rebounds,
        SUM(bs.defensive_rebounds)::INT AS total_defensive_rebounds,
        SUM(bs.offensive_rebounds + bs.defensive_rebounds)::INT AS total_total_rebounds,
        SUM(bs.assists)::INT AS total_assists,
        SUM(bs.steals)::INT AS total_steals,
        SUM(bs.blocks)::INT AS total_blocks,
        SUM(bs.turnovers)::INT AS total_turnovers,
        SUM(bs.personal_fouls)::INT AS total_personal_fouls,

        -- Total points calculated as an integer
        SUM(
            ((bs.field_goals_made - bs.three_pointers_made) * 2) + 
            (bs.three_pointers_made * 3) + 
            bs.free_throws_made
        )::INT AS total_points,

        -- Total plus-minus calculated as an integer
        SUM(bs.plus_minus)::INT AS total_plus_minus
    FROM box_scores bs
    JOIN players p ON bs.player_id = p.player_id
    GROUP BY bs.player_id, p.player_name
    ORDER BY total_points DESC;
END;
$$ LANGUAGE plpgsql;

SELECT * FROM calculate_total_player_stats();

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
20 rows affected.

[(6, "De'Andre Hunter", 16, 28, Decimal('0.571'), 9, 16, Decimal('0.563'), 8, 9, Decimal('0.889'), 0, 10, 10, 4, 0, 0, 4, 3, 49, 25),
 (12, 'Darius Garland', 18, 33, Decimal('0.545'), 7, 15, Decimal('0.467'), 5, 5, Decimal('1.000'), 2, 3, 5, 12, 2, 0, 3, 6, 48, -18),
 (10, 'Evan Mobley', 17, 32, Decimal('0.531'), 1, 6, Decimal('0.167'), 11, 14, Decimal('0.786'), 8, 16, 24, 8, 5, 3, 1, 4, 46, -6),
 (3, 'Jalen Johnson', 18, 30, Decimal('0.600'), 4, 8, Decimal('0.500'), 2, 2, Decimal('1.000'), 2, 16, 18, 14, 2, 1, 5, 4, 42, 27),
 (11, 'Donovan Mitchell', 15, 47, Decimal('0.319'), 6, 24, Decimal('0.250'), 6, 8, Decimal('0.750'), 2, 13, 15, 13, 4, 1, 5, 6, 42, -13),
 (1, 'Trae Young', 13, 30, Decimal('0.433'), 5, 18, Decimal('0.278'), 10, 10, Decimal('1.000'), 0, 7, 7, 33, 0, 0, 12, 7, 41, 15),
 (5, 'Zaccharie Risacher', 10, 18, Decimal('0.556'), 5, 10, Decimal('0.500'), 3, 4, Decimal('0.750'), 1, 4, 5, 1, 2, 2, 1, 4, 28, 2),
 (8, 'Bogdan Bogdanović', 8, 19, Decimal('0.421'), 5, 13, Decimal('0.385'), 6, 6, Decimal('1.000'), 2, 7, 9, 1, 1, 1, 1, 7, 27, 16),
 (7, 'Onyeka Okongwu', 11, 15, Decimal('0.733'), 1, 2, Decimal('0.500'), 2, 2, Decimal('1.000'), 4, 8, 12, 6, 0, 2, 2, 4, 25, 11),
 (13, 'Jarrett Allen', 9, 10, Decimal('0.900'), 0, 0, Decimal('0.000'), 5, 7, Decimal('0.714'), 2, 13, 15, 1, 1, 0, 2, 4, 23, -21),
 (2, 'Dyson Daniels', 7, 21, Decimal('0.333'), 3, 5, Decimal('0.600'), 2, 4, Decimal('0.500'), 5, 12, 17, 5, 5, 1, 5, 7, 19, 15),
 (17, 'Sam Merrill', 6, 15, Decimal('0.400'), 4, 13, Decimal('0.308'), 1, 2, Decimal('0.500'), 1, 1, 2, 1, 0, 1, 1, 5, 17, -14),
 (15, 'Ty Jerome', 6, 15, Decimal('0.400'), 2, 6, Decimal('0.333'), 1, 1, Decimal('1.000'), 0, 3, 3, 7, 6, 0, 5, 6, 15, -25),
 (16, 'Georges Niang', 4, 14, Decimal('0.286'), 2, 11, Decimal('0.182'), 1, 2, Decimal('0.500'), 2, 7, 9, 3, 0, 0, 4, 3, 11, -10),
 (9, 'Kobe Bufkin', 2, 7, Decimal('0.286'), 2, 4, Decimal('0.500'), 5, 6, Decimal('0.833'), 1, 3, 4, 4, 2, 0, 1, 2, 11, 12),
 (4, 'Clint Capela', 5, 14, Decimal('0.357'), 0, 0, Decimal('0.000'), 0, 0, Decimal('0.000'), 9, 13, 22, 4, 3, 3, 2, 3, 10, 18),
 (14, 'Issac Okoro', 3, 13, Decimal('0.231'), 2, 7, Decimal('0.286'), 2, 2, Decimal('1.000'), 3, 2, 5, 4, 1, 0, 2, 3, 10, -15),
 (20, 'Caris LeVert', 2, 5, Decimal('0.400'), 2, 3, Decimal('0.667'), 2, 2, Decimal('1.000'), 0, 1, 1, 2, 0, 0, 1, 2, 8, -10),
 (18, 'Jaylon Tyson', 2, 3, Decimal('0.667'), 0, 0, Decimal('0.000'), 1, 2, Decimal('0.500'), 3, 2, 5, 1, 1, 0, 1, 4, 5, -5),
 (19, 'Craig Porter Jr.', 0, 1, Decimal('0.000'), 0, 1, Decimal('0.000'), 0, 0, Decimal('0.000'), 0, 0, 0, 0, 0, 0, 0, 0, 0, 4)]

In [223]:
%%sql

-- function to calculate average player stats

CREATE OR REPLACE FUNCTION calculate_average_player_stats()
RETURNS TABLE (
    player_id INT,
    player_name VARCHAR,
    avg_field_goals_made DECIMAL,
    avg_field_goals_attempted DECIMAL,
    avg_field_goals_percentage DECIMAL,
    avg_three_pointers_made DECIMAL,
    avg_three_pointers_attempted DECIMAL,
    avg_three_pointers_percentage DECIMAL,
    avg_free_throws_made DECIMAL,
    avg_free_throws_attempted DECIMAL,
    avg_free_throws_percentage DECIMAL,
    avg_offensive_rebounds DECIMAL,
    avg_defensive_rebounds DECIMAL,
    avg_total_rebounds DECIMAL,
    avg_assists DECIMAL,
    avg_steals DECIMAL,
    avg_blocks DECIMAL,
    avg_turnovers DECIMAL,
    avg_personal_fouls DECIMAL,
    avg_points DECIMAL,
    avg_plus_minus DECIMAL
) AS $$
BEGIN
    RETURN QUERY
    SELECT
        bs.player_id,
        p.player_name,
        ROUND(AVG(bs.field_goals_made), 3) AS avg_field_goals_made,
        ROUND(AVG(bs.field_goals_attempted), 3) AS avg_field_goals_attempted,
        ROUND(
            COALESCE(
                (AVG(bs.field_goals_made) * 1.0 / NULLIF(AVG(bs.field_goals_attempted), 0)), 
                0
            ), 3
        ) AS avg_field_goals_percentage,
        ROUND(AVG(bs.three_pointers_made), 3) AS avg_three_pointers_made,
        ROUND(AVG(bs.three_pointers_attempted), 3) AS avg_three_pointers_attempted,
        ROUND(
            COALESCE(
                (AVG(bs.three_pointers_made) * 1.0 / NULLIF(AVG(bs.three_pointers_attempted), 0)), 
                0
            ), 3
        ) AS avg_three_pointers_percentage,
        ROUND(AVG(bs.free_throws_made), 3) AS avg_free_throws_made,
        ROUND(AVG(bs.free_throws_attempted), 3) AS avg_free_throws_attempted,
        ROUND(
            COALESCE(
                (AVG(bs.free_throws_made) * 1.0 / NULLIF(AVG(bs.free_throws_attempted), 0)), 
                0
            ), 3
        ) AS avg_free_throws_percentage,
        ROUND(AVG(bs.offensive_rebounds), 3) AS avg_offensive_rebounds,
        ROUND(AVG(bs.defensive_rebounds), 3) AS avg_defensive_rebounds,
        ROUND(AVG(bs.offensive_rebounds + bs.defensive_rebounds), 3) AS avg_total_rebounds,
        ROUND(AVG(bs.assists), 3) AS avg_assists,
        ROUND(AVG(bs.steals), 3) AS avg_steals,
        ROUND(AVG(bs.blocks), 3) AS avg_blocks,
        ROUND(AVG(bs.turnovers), 3) AS avg_turnovers,
        ROUND(AVG(bs.personal_fouls), 3) AS avg_personal_fouls,
        ROUND(
            AVG(
                ((bs.field_goals_made - bs.three_pointers_made) * 2) + 
                (bs.three_pointers_made * 3) + 
                bs.free_throws_made
            ), 3
        ) AS avg_points,
        ROUND(AVG(bs.plus_minus), 3) AS avg_plus_minus
    FROM box_scores bs
    JOIN players p ON bs.player_id = p.player_id
    GROUP BY bs.player_id, p.player_name
    ORDER BY avg_points DESC;
END
$$ LANGUAGE plpgsql;

SELECT * FROM calculate_average_player_stats();

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
20 rows affected.

[(6, "De'Andre Hunter", Decimal('8.000'), Decimal('14.000'), Decimal('0.571'), Decimal('4.500'), Decimal('8.000'), Decimal('0.563'), Decimal('4.000'), Decimal('4.500'), Decimal('0.889'), Decimal('0.000'), Decimal('5.000'), Decimal('5.000'), Decimal('2.000'), Decimal('0.000'), Decimal('0.000'), Decimal('2.000'), Decimal('1.500'), Decimal('24.500'), Decimal('12.500')),
 (12, 'Darius Garland', Decimal('9.000'), Decimal('16.500'), Decimal('0.545'), Decimal('3.500'), Decimal('7.500'), Decimal('0.467'), Decimal('2.500'), Decimal('2.500'), Decimal('1.000'), Decimal('1.000'), Decimal('1.500'), Decimal('2.500'), Decimal('6.000'), Decimal('1.000'), Decimal('0.000'), Decimal('1.500'), Decimal('3.000'), Decimal('24.000'), Decimal('-9.000')),
 (10, 'Evan Mobley', Decimal('8.500'), Decimal('16.000'), Decimal('0.531'), Decimal('0.500'), Decimal('3.000'), Decimal('0.167'), Decimal('5.500'), Decimal('7.000'), Decimal('0.786'), Decimal('4.000'), Decimal('8.000'), Decimal('12.000'), Decimal('4.000'), Decimal('2.500'), Decimal('1.500'), Decimal('0.500'), Decimal('2.000'), Decimal('23.000'), Decimal('-3.000')),
 (3, 'Jalen Johnson', Decimal('9.000'), Decimal('15.000'), Decimal('0.600'), Decimal('2.000'), Decimal('4.000'), Decimal('0.500'), Decimal('1.000'), Decimal('1.000'), Decimal('1.000'), Decimal('1.000'), Decimal('8.000'), Decimal('9.000'), Decimal('7.000'), Decimal('1.000'), Decimal('0.500'), Decimal('2.500'), Decimal('2.000'), Decimal('21.000'), Decimal('13.500')),
 (11, 'Donovan Mitchell', Decimal('7.500'), Decimal('23.500'), Decimal('0.319'), Decimal('3.000'), Decimal('12.000'), Decimal('0.250'), Decimal('3.000'), Decimal('4.000'), Decimal('0.750'), Decimal('1.000'), Decimal('6.500'), Decimal('7.500'), Decimal('6.500'), Decimal('2.000'), Decimal('0.500'), Decimal('2.500'), Decimal('3.000'), Decimal('21.000'), Decimal('-6.500')),
 (1, 'Trae Young', Decimal('6.500'), Decimal('15.000'), Decimal('0.433'), Decimal('2.500'), Decimal('9.000'), Decimal('0.278'), Decimal('5.000'), Decimal('5.000'), Decimal('1.000'), Decimal('0.000'), Decimal('3.500'), Decimal('3.500'), Decimal('16.500'), Decimal('0.000'), Decimal('0.000'), Decimal('6.000'), Decimal('3.500'), Decimal('20.500'), Decimal('7.500')),
 (5, 'Zaccharie Risacher', Decimal('5.000'), Decimal('9.000'), Decimal('0.556'), Decimal('2.500'), Decimal('5.000'), Decimal('0.500'), Decimal('1.500'), Decimal('2.000'), Decimal('0.750'), Decimal('0.500'), Decimal('2.000'), Decimal('2.500'), Decimal('0.500'), Decimal('1.000'), Decimal('1.000'), Decimal('0.500'), Decimal('2.000'), Decimal('14.000'), Decimal('1.000')),
 (8, 'Bogdan Bogdanović', Decimal('4.000'), Decimal('9.500'), Decimal('0.421'), Decimal('2.500'), Decimal('6.500'), Decimal('0.385'), Decimal('3.000'), Decimal('3.000'), Decimal('1.000'), Decimal('1.000'), Decimal('3.500'), Decimal('4.500'), Decimal('0.500'), Decimal('0.500'), Decimal('0.500'), Decimal('0.500'), Decimal('3.500'), Decimal('13.500'), Decimal('8.000')),
 (7, 'Onyeka Okongwu', Decimal('5.500'), Decimal('7.500'), Decimal('0.733'), Decimal('0.500'), Decimal('1.000'), Decimal('0.500'), Decimal('1.000'), Decimal('1.000'), Decimal('1.000'), Decimal('2.000'), Decimal('4.000'), Decimal('6.000'), Decimal('3.000'), Decimal('0.000'), Decimal('1.000'), Decimal('1.000'), Decimal('2.000'), Decimal('12.500'), Decimal('5.500')),
 (13, 'Jarrett Allen', Decimal('4.500'), Decimal('5.000'), Decimal('0.900'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('2.500'), Decimal('3.500'), Decimal('0.714'), Decimal('1.000'), Decimal('6.500'), Decimal('7.500'), Decimal('0.500'), Decimal('0.500'), Decimal('0.000'), Decimal('1.000'), Decimal('2.000'), Decimal('11.500'), Decimal('-10.500')),
 (2, 'Dyson Daniels', Decimal('3.500'), Decimal('10.500'), Decimal('0.333'), Decimal('1.500'), Decimal('2.500'), Decimal('0.600'), Decimal('1.000'), Decimal('2.000'), Decimal('0.500'), Decimal('2.500'), Decimal('6.000'), Decimal('8.500'), Decimal('2.500'), Decimal('2.500'), Decimal('0.500'), Decimal('2.500'), Decimal('3.500'), Decimal('9.500'), Decimal('7.500')),
 (17, 'Sam Merrill', Decimal('3.000'), Decimal('7.500'), Decimal('0.400'), Decimal('2.000'), Decimal('6.500'), Decimal('0.308'), Decimal('0.500'), Decimal('1.000'), Decimal('0.500'), Decimal('0.500'), Decimal('0.500'), Decimal('1.000'), Decimal('0.500'), Decimal('0.000'), Decimal('0.500'), Decimal('0.500'), Decimal('2.500'), Decimal('8.500'), Decimal('-7.000')),
 (20, 'Caris LeVert', Decimal('2.000'), Decimal('5.000'), Decimal('0.400'), Decimal('2.000'), Decimal('3.000'), Decimal('0.667'), Decimal('2.000'), Decimal('2.000'), Decimal('1.000'), Decimal('0.000'), Decimal('1.000'), Decimal('1.000'), Decimal('2.000'), Decimal('0.000'), Decimal('0.000'), Decimal('1.000'), Decimal('2.000'), Decimal('8.000'), Decimal('-10.000')),
 (15, 'Ty Jerome', Decimal('3.000'), Decimal('7.500'), Decimal('0.400'), Decimal('1.000'), Decimal('3.000'), Decimal('0.333'), Decimal('0.500'), Decimal('0.500'), Decimal('1.000'), Decimal('0.000'), Decimal('1.500'), Decimal('1.500'), Decimal('3.500'), Decimal('3.000'), Decimal('0.000'), Decimal('2.500'), Decimal('3.000'), Decimal('7.500'), Decimal('-12.500')),
 (16, 'Georges Niang', Decimal('2.000'), Decimal('7.000'), Decimal('0.286'), Decimal('1.000'), Decimal('5.500'), Decimal('0.182'), Decimal('0.500'), Decimal('1.000'), Decimal('0.500'), Decimal('1.000'), Decimal('3.500'), Decimal('4.500'), Decimal('1.500'), Decimal('0.000'), Decimal('0.000'), Decimal('2.000'), Decimal('1.500'), Decimal('5.500'), Decimal('-5.000')),
 (9, 'Kobe Bufkin', Decimal('1.000'), Decimal('3.500'), Decimal('0.286'), Decimal('1.000'), Decimal('2.000'), Decimal('0.500'), Decimal('2.500'), Decimal('3.000'), Decimal('0.833'), Decimal('0.500'), Decimal('1.500'), Decimal('2.000'), Decimal('2.000'), Decimal('1.000'), Decimal('0.000'), Decimal('0.500'), Decimal('1.000'), Decimal('5.500'), Decimal('6.000')),
 (4, 'Clint Capela', Decimal('2.500'), Decimal('7.000'), Decimal('0.357'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('4.500'), Decimal('6.500'), Decimal('11.000'), Decimal('2.000'), Decimal('1.500'), Decimal('1.500'), Decimal('1.000'), Decimal('1.500'), Decimal('5.000'), Decimal('9.000')),
 (14, 'Issac Okoro', Decimal('1.500'), Decimal('6.500'), Decimal('0.231'), Decimal('1.000'), Decimal('3.500'), Decimal('0.286'), Decimal('1.000'), Decimal('1.000'), Decimal('1.000'), Decimal('1.500'), Decimal('1.000'), Decimal('2.500'), Decimal('2.000'), Decimal('0.500'), Decimal('0.000'), Decimal('1.000'), Decimal('1.500'), Decimal('5.000'), Decimal('-7.500')),
 (18, 'Jaylon Tyson', Decimal('1.000'), Decimal('1.500'), Decimal('0.667'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.500'), Decimal('1.000'), Decimal('0.500'), Decimal('1.500'), Decimal('1.000'), Decimal('2.500'), Decimal('0.500'), Decimal('0.500'), Decimal('0.000'), Decimal('0.500'), Decimal('2.000'), Decimal('2.500'), Decimal('-2.500')),
 (19, 'Craig Porter Jr.', Decimal('0.000'), Decimal('1.000'), Decimal('0.000'), Decimal('0.000'), Decimal('1.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('0.000'), Decimal('4.000'))]

In [224]:
%%sql

-- function to calculate TS% (True Shooting Percentage)

CREATE OR REPLACE FUNCTION calculate_true_shooting()
RETURNS TABLE (
    player_id INT,
    player_name VARCHAR,
    ts_percentage DECIMAL
) AS $$
BEGIN
    RETURN QUERY
    SELECT
        bs.player_id,
        p.player_name,
        ROUND(
            COALESCE(
                (SUM(((bs.field_goals_made - bs.three_pointers_made) * 2) + 
                    (bs.three_pointers_made * 3) + bs.free_throws_made) * 1.0) / 
                (2 * (SUM(bs.field_goals_attempted) + 0.44 * SUM(bs.free_throws_attempted))),
                0
            ), 3
        ) AS ts_percentage
    FROM box_scores bs
    JOIN players p ON bs.player_id = p.player_id
    GROUP BY bs.player_id, p.player_name
    ORDER BY ts_percentage DESC;
END;
$$ LANGUAGE plpgsql;

SELECT * FROM calculate_true_shooting();

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
20 rows affected.

[(13, 'Jarrett Allen', Decimal('0.879')),
 (7, 'Onyeka Okongwu', Decimal('0.787')),
 (6, "De'Andre Hunter", Decimal('0.767')),
 (5, 'Zaccharie Risacher', Decimal('0.709')),
 (12, 'Darius Garland', Decimal('0.682')),
 (20, 'Caris LeVert', Decimal('0.680')),
 (3, 'Jalen Johnson', Decimal('0.680')),
 (18, 'Jaylon Tyson', Decimal('0.644')),
 (8, 'Bogdan Bogdanović', Decimal('0.624')),
 (10, 'Evan Mobley', Decimal('0.603')),
 (1, 'Trae Young', Decimal('0.596')),
 (9, 'Kobe Bufkin', Decimal('0.571')),
 (17, 'Sam Merrill', Decimal('0.535')),
 (15, 'Ty Jerome', Decimal('0.486')),
 (2, 'Dyson Daniels', Decimal('0.417')),
 (11, 'Donovan Mitchell', Decimal('0.416')),
 (16, 'Georges Niang', Decimal('0.370')),
 (14, 'Issac Okoro', Decimal('0.360')),
 (4, 'Clint Capela', Decimal('0.357')),
 (19, 'Craig Porter Jr.', Decimal('0.000'))]

In [225]:
%%sql

-- procedure to update a cartain value from a column in a table using dynamic SQL

CREATE OR REPLACE PROCEDURE update_value_of_table( 
    p_table_name TEXT,
    p_column_name TEXT,
    p_column_value TEXT,
    p_condition_column TEXT,
    p_condition_value TEXT
)
LANGUAGE plpgsql
AS $$
BEGIN
    EXECUTE format(
        'UPDATE %I SET %I = %L WHERE %I = %L',
        p_table_name,           -- Table name
        p_column_name,          -- Column to update
        p_column_value,         -- Value to set
        p_condition_column,     -- Condition column
        p_condition_value       -- Condition value
    );
END;
$$;

-- procedure to delete a row using dynamic SQL

CREATE OR REPLACE PROCEDURE delete_row(
    p_table_name TEXT,
    p_condition_column TEXT,
    p_condition_value TEXT
)
LANGUAGE plpgsql
AS $$
BEGIN
    EXECUTE format(
        'DELETE FROM %I WHERE %I = %L',
        p_table_name,           -- Table name
        p_condition_column,     -- Condition column
        p_condition_value       -- Condition value
    );
END;
$$;

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
Done.

[]

In [226]:
%%sql

SELECT * FROM players

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
20 rows affected.

[(1, 'Trae Young', 'PG', 'right', 185, 74, 1, datetime.date(1998, 9, 19), 'male'),
 (2, 'Dyson Daniels', 'SG', 'right', 203, 90, 1, datetime.date(2003, 11, 17), 'male'),
 (3, 'Jalen Johnson', 'SF', 'left', 206, 99, 1, datetime.date(2001, 12, 18), 'male'),
 (4, 'Clint Capela', 'C', 'right', 208, 108, 1, datetime.date(1994, 5, 18), 'male'),
 (5, 'Zaccharie Risacher', 'SF', 'right', 203, 90, 1, datetime.date(2005, 4, 8), 'male'),
 (6, "De'Andre Hunter", 'SF', 'right', 203, 102, 1, datetime.date(1997, 12, 2), 'male'),
 (7, 'Onyeka Okongwu', 'C', 'right', 203, 106, 1, datetime.date(2000, 12, 11), 'male'),
 (8, 'Bogdan Bogdanović', 'SG', 'right', 196, 99, 1, datetime.date(1992, 8, 18), 'male'),
 (9, 'Kobe Bufkin', 'SG', 'right', 193, 88, 1, datetime.date(2003, 8, 21), 'male'),
 (10, 'Evan Mobley', 'PF', 'right', 211, 97, 6, datetime.date(2001, 6, 18), 'male'),
 (11, 'Donovan Mitchell', 'SG', 'right', 190, 97, 6, datetime.date(1996, 9, 7), 'male'),
 (12, 'Darius Garland', 'PG', 'right', 185, 87, 6, datetime.date(2000, 1, 26), 'male'),
 (13, 'Jarrett Allen', 'C', 'right', 211, 110, 6, datetime.date(1998, 4, 21), 'male'),
 (14, 'Issac Okoro', 'SG', 'right', 196, 102, 6, datetime.date(2001, 1, 26), 'male'),
 (15, 'Ty Jerome', 'SG', 'right', 196, 88, 6, datetime.date(1997, 7, 8), 'male'),
 (16, 'Georges Niang', 'PF', 'right', 201, 104, 6, datetime.date(1993, 6, 17), 'male'),
 (17, 'Sam Merrill', 'SG', 'right', 193, 92, 6, datetime.date(1996, 5, 15), 'male'),
 (18, 'Jaylon Tyson', 'SF', 'right', 198, 97, 6, datetime.date(2002, 12, 2), 'male'),
 (19, 'Craig Porter Jr.', 'PG', 'right', 188, 84, 6, datetime.date(2000, 2, 26), 'male'),
 (20, 'Caris LeVert', 'SG', 'right', 198, 92, 6, datetime.date(1994, 8, 25), 'male')]

In [227]:
%%sql

CALL update_value_of_table(
    'players',
    'height_cm',
    '200',
    'player_id',
    '1' -- Trae Young's ID
);

SELECT * FROM view_players

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
20 rows affected.

[(8, 'Bogdan Bogdanović', 'SG', 'right', 196, 99, 1, 'Atlanta Hawks', datetime.date(1992, 8, 18), Decimal('32'), 'male'),
 (20, 'Caris LeVert', 'SG', 'right', 198, 92, 6, 'Cleveland Cavaliers', datetime.date(1994, 8, 25), Decimal('30'), 'male'),
 (4, 'Clint Capela', 'C', 'right', 208, 108, 1, 'Atlanta Hawks', datetime.date(1994, 5, 18), Decimal('30'), 'male'),
 (19, 'Craig Porter Jr.', 'PG', 'right', 188, 84, 6, 'Cleveland Cavaliers', datetime.date(2000, 2, 26), Decimal('24'), 'male'),
 (12, 'Darius Garland', 'PG', 'right', 185, 87, 6, 'Cleveland Cavaliers', datetime.date(2000, 1, 26), Decimal('24'), 'male'),
 (6, "De'Andre Hunter", 'SF', 'right', 203, 102, 1, 'Atlanta Hawks', datetime.date(1997, 12, 2), Decimal('27'), 'male'),
 (11, 'Donovan Mitchell', 'SG', 'right', 190, 97, 6, 'Cleveland Cavaliers', datetime.date(1996, 9, 7), Decimal('28'), 'male'),
 (2, 'Dyson Daniels', 'SG', 'right', 203, 90, 1, 'Atlanta Hawks', datetime.date(2003, 11, 17), Decimal('21'), 'male'),
 (10, 'Evan Mobley', 'PF', 'right', 211, 97, 6, 'Cleveland Cavaliers', datetime.date(2001, 6, 18), Decimal('23'), 'male'),
 (16, 'Georges Niang', 'PF', 'right', 201, 104, 6, 'Cleveland Cavaliers', datetime.date(1993, 6, 17), Decimal('31'), 'male'),
 (14, 'Issac Okoro', 'SG', 'right', 196, 102, 6, 'Cleveland Cavaliers', datetime.date(2001, 1, 26), Decimal('23'), 'male'),
 (3, 'Jalen Johnson', 'SF', 'left', 206, 99, 1, 'Atlanta Hawks', datetime.date(2001, 12, 18), Decimal('22'), 'male'),
 (13, 'Jarrett Allen', 'C', 'right', 211, 110, 6, 'Cleveland Cavaliers', datetime.date(1998, 4, 21), Decimal('26'), 'male'),
 (18, 'Jaylon Tyson', 'SF', 'right', 198, 97, 6, 'Cleveland Cavaliers', datetime.date(2002, 12, 2), Decimal('22'), 'male'),
 (9, 'Kobe Bufkin', 'SG', 'right', 193, 88, 1, 'Atlanta Hawks', datetime.date(2003, 8, 21), Decimal('21'), 'male'),
 (7, 'Onyeka Okongwu', 'C', 'right', 203, 106, 1, 'Atlanta Hawks', datetime.date(2000, 12, 11), Decimal('23'), 'male'),
 (17, 'Sam Merrill', 'SG', 'right', 193, 92, 6, 'Cleveland Cavaliers', datetime.date(1996, 5, 15), Decimal('28'), 'male'),
 (1, 'Trae Young', 'PG', 'right', 200, 74, 1, 'Atlanta Hawks', datetime.date(1998, 9, 19), Decimal('26'), 'male'),
 (15, 'Ty Jerome', 'SG', 'right', 196, 88, 6, 'Cleveland Cavaliers', datetime.date(1997, 7, 8), Decimal('27'), 'male'),
 (5, 'Zaccharie Risacher', 'SF', 'right', 203, 90, 1, 'Atlanta Hawks', datetime.date(2005, 4, 8), Decimal('19'), 'male')]

In [228]:
%%sql

SELECT * FROM view_teams

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
30 rows affected.

[(1, 'Atlanta Hawks', 2, 0),
 (2, 'Boston Celtics', 0, 0),
 (3, 'Brooklyn Nets', 0, 0),
 (4, 'Charlotte Hornets', 0, 0),
 (5, 'Chicago Bulls', 0, 0),
 (6, 'Cleveland Cavaliers', 0, 2),
 (7, 'Dallas Mavericks', 0, 0),
 (8, 'Denver Nuggets', 0, 0),
 (9, 'Detroit Pistons', 0, 0),
 (10, 'Golden State Warriors', 0, 0),
 (11, 'Houston Rockets', 0, 0),
 (12, 'Indiana Pacers', 0, 0),
 (13, 'Los Angeles Clippers', 0, 0),
 (14, 'Los Angeles Lakers', 0, 0),
 (15, 'Memphis Grizzlies', 0, 0),
 (16, 'Miami Heat', 0, 0),
 (17, 'Milwaukee Bucks', 0, 0),
 (18, 'Minnesota Timberwolves', 0, 0),
 (19, 'New Orleans Pelicans', 0, 0),
 (20, 'New York Knicks', 0, 0),
 (21, 'Oklahoma City Thunder', 0, 0),
 (22, 'Orlando Magic', 0, 0),
 (23, 'Philadelphia 76ers', 0, 0),
 (24, 'Phoenix Suns', 0, 0),
 (25, 'Portland Trail Blazers', 0, 0),
 (26, 'Sacramento Kings', 0, 0),
 (27, 'San Antonio Spurs', 0, 0),
 (28, 'Toronto Raptors', 0, 0),
 (29, 'Utah Jazz', 0, 0),
 (30, 'Washington Wizards', 0, 0)]

In [229]:
%%sql

CALL delete_row_from_table (
    'teams',
    'team_id',
    '2' -- Boston Celtics' ID
)

SELECT * FROM view_teams

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
(psycopg2.errors.SyntaxError) syntax error at or near "SELECT"
LINE 7: SELECT * FROM view_teams
        ^

[SQL: CALL delete_row_from_table (
    'teams',
    'team_id',
    '2' -- Boston Celtics' ID
)

SELECT * FROM view_teams]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [238]:
%%sql

CREATE OR REPLACE FUNCTION search_view_box_scores(
    p_condition_column TEXT,
    p_operator TEXT,
    p_condition_value TEXT
)
RETURNS TABLE (
    box_score_id INT,
    game_id INT,
    team_id INT,
    team_name VARCHAR,
    player_id INT,
    player_name VARCHAR,
    is_starter BOOLEAN,
    minutes_played DECIMAL,
    field_goals_made INT,
    field_goals_attempted INT,
    field_goals_percentage DECIMAL,
    three_pointers_made INT,
    three_pointers_attempted INT,
    three_pointers_percentage DECIMAL,
    free_throws_made INT,
    free_throws_attempted INT,
    free_throws_percentage DECIMAL,
    offensive_rebounds INT,
    defensive_rebounds INT,
    total_rebounds INT,
    assists INT,
    steals INT,
    blocks INT,
    turnovers INT,
    personal_fouls INT,
    points INT,
    plus_minus INT
)
LANGUAGE plpgsql
AS $$
BEGIN
    RETURN QUERY EXECUTE format(
        'SELECT * FROM view_box_scores WHERE %I %s %L',
        p_condition_column,
        p_operator,
        p_condition_value
    );
END;
$$;

SELECT * FROM search_view_box_scores(
    'points',
    '>',
    '10'
);

 * postgresql://root:***@dpg-ct80l99u0jms73atbgh0-a.singapore-postgres.render.com/basketball_statistics
Done.
18 rows affected.

[(1, 1, 1, 'Atlanta Hawks', 1, 'Trae Young', True, Decimal('36.95'), 6, 18, Decimal('0.333'), 3, 13, Decimal('0.231'), 5, 5, Decimal('1.000'), 0, 4, 4, 22, 0, 0, 5, 3, 20, 5),
 (2, 1, 1, 'Atlanta Hawks', 2, 'Dyson Daniels', True, Decimal('35.75'), 4, 11, Decimal('0.364'), 2, 3, Decimal('0.667'), 2, 2, Decimal('1.000'), 3, 7, 10, 1, 2, 0, 2, 4, 12, 5),
 (3, 1, 1, 'Atlanta Hawks', 3, 'Jalen Johnson', True, Decimal('34.85'), 9, 16, Decimal('0.563'), 2, 4, Decimal('0.500'), 2, 2, Decimal('1.000'), 2, 7, 9, 7, 1, 1, 2, 2, 22, 10),
 (5, 1, 1, 'Atlanta Hawks', 5, 'Zaccharie Risacher', True, Decimal('17.08'), 6, 10, Decimal('0.600'), 3, 6, Decimal('0.500'), 2, 2, Decimal('1.000'), 0, 2, 2, 0, 1, 1, 0, 1, 17, 1),
 (6, 1, 1, 'Atlanta Hawks', 6, "De'Andre Hunter", False, Decimal('30.47'), 9, 16, Decimal('0.563'), 5, 9, Decimal('0.556'), 3, 4, Decimal('0.750'), 0, 5, 5, 1, 0, 0, 3, 2, 26, 11),
 (8, 1, 1, 'Atlanta Hawks', 8, 'Bogdan Bogdanović', False, Decimal('25.85'), 4, 8, Decimal('0.500'), 3, 5, Decimal('0.600'), 6, 6, Decimal('1.000'), 0, 3, 3, 0, 0, 1, 0, 2, 17, 6),
 (10, 1, 6, 'Cleveland Cavaliers', 10, 'Evan Mobley', True, Decimal('36.57'), 7, 15, Decimal('0.467'), 1, 3, Decimal('0.333'), 7, 10, Decimal('0.700'), 4, 8, 12, 5, 4, 3, 0, 2, 22, 0),
 (11, 1, 6, 'Cleveland Cavaliers', 11, 'Donovan Mitchell', True, Decimal('36.42'), 10, 24, Decimal('0.417'), 4, 14, Decimal('0.286'), 6, 8, Decimal('0.750'), 0, 4, 4, 7, 2, 1, 3, 3, 30, 0),
 (12, 1, 6, 'Cleveland Cavaliers', 12, 'Darius Garland', True, Decimal('32.57'), 7, 14, Decimal('0.500'), 2, 7, Decimal('0.286'), 3, 3, Decimal('1.000'), 1, 1, 2, 7, 1, 0, 1, 3, 19, -14),
 (13, 1, 6, 'Cleveland Cavaliers', 13, 'Jarrett Allen', True, Decimal('31.67'), 6, 7, Decimal('0.857'), 0, 0, Decimal('0.000'), 5, 7, Decimal('0.714'), 2, 8, 10, 1, 1, 0, 1, 2, 17, -12),
 (20, 2, 6, 'Cleveland Cavaliers', 10, 'Evan Mobley', True, Decimal('36.78'), 10, 17, Decimal('0.588'), 0, 3, Decimal('0.000'), 4, 4, Decimal('1.000'), 4, 8, 12, 3, 1, 0, 1, 2, 24, -6),
 (21, 2, 6, 'Cleveland Cavaliers', 11, 'Donovan Mitchell', True, Decimal('35.05'), 5, 23, Decimal('0.217'), 2, 10, Decimal('0.200'), 0, 0, Decimal('0.000'), 2, 9, 11, 6, 2, 0, 2, 3, 12, -13),
 (22, 2, 6, 'Cleveland Cavaliers', 12, 'Darius Garland', True, Decimal('33.02'), 11, 19, Decimal('0.579'), 5, 8, Decimal('0.625'), 2, 2, Decimal('1.000'), 1, 2, 3, 5, 1, 0, 2, 3, 29, -4),
 (30, 2, 1, 'Atlanta Hawks', 1, 'Trae Young', True, Decimal('34.68'), 7, 12, Decimal('0.583'), 2, 5, Decimal('0.400'), 5, 5, Decimal('1.000'), 0, 3, 3, 11, 0, 0, 7, 4, 21, 10),
 (32, 2, 1, 'Atlanta Hawks', 3, 'Jalen Johnson', True, Decimal('34.98'), 9, 14, Decimal('0.643'), 2, 4, Decimal('0.500'), 0, 0, Decimal('0.000'), 0, 9, 9, 7, 1, 0, 3, 2, 20, 17),
 (34, 2, 1, 'Atlanta Hawks', 5, 'Zaccharie Risacher', True, Decimal('20.58'), 4, 8, Decimal('0.500'), 2, 4, Decimal('0.500'), 1, 2, Decimal('0.500'), 1, 2, 3, 1, 1, 1, 1, 3, 11, 1),
 (35, 2, 1, 'Atlanta Hawks', 6, "De'Andre Hunter", False, Decimal('27.93'), 7, 12, Decimal('0.583'), 4, 7, Decimal('0.571'), 5, 5, Decimal('1.000'), 0, 5, 5, 3, 0, 0, 1, 1, 23, 14),
 (36, 2, 1, 'Atlanta Hawks', 7, 'Onyeka Okongwu', False, Decimal('21.70'), 6, 8, Decimal('0.750'), 1, 2, Decimal('0.500'), 2, 2, Decimal('1.000'), 2, 5, 7, 2, 0, 0, 0, 0, 15, 3)]

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION search_view_teams(
    p_condition_column TEXT,
    p_operator TEXT,
    p_condition_value TEXT
)
RETURNS TABLE (
    team_id INT,
    team_name TEXT,
    wins INT,
    losses INT
)
LANGUAGE plpgsql
AS $$
BEGIN
    RETURN QUERY EXECUTE format(
        'SELECT * FROM view_teams WHERE %I %s %L',
        p_condition_column,
        p_operator,
        p_condition_value
    );
END;
$$;