In [1]:
%load_ext sql

In [2]:
%%sql

postgresql://root:dbpass@host.docker.internal/local_pg_db

In [23]:
%%sql

-- RUN THIS ONLY ONCE

DROP TABLE IF EXISTS teams CASCADE;
DROP TABLE IF EXISTS players CASCADE;
DROP TABLE IF EXISTS games CASCADE;
DROP TABLE IF EXISTS box_scores CASCADE;

CREATE TABLE teams (
    team_id SERIAL PRIMARY KEY,
    team_name VARCHAR UNIQUE
);

CREATE TABLE players (
    player_id SERIAL PRIMARY KEY,
    player_name VARCHAR,
    team_id INT,
    height INT,
    weight INT,
    handedness VARCHAR,
    FOREIGN KEY (team_id) REFERENCES teams(team_id)
);

CREATE TABLE games (
    game_id SERIAL PRIMARY KEY,
    game_date DATE,
    home_team_id INT,
    away_team_id INT,
    home_team_points INT DEFAULT 0,
    away_team_points INT DEFAULT 0,
    winner_team_id INT GENERATED ALWAYS AS (
        CASE
            WHEN home_team_points > away_team_points THEN home_team_id
            WHEN home_team_points < away_team_points THEN away_team_id
            ELSE NULL
        END
    ) STORED,
    FOREIGN KEY (home_team_id) REFERENCES teams(team_id),
    FOREIGN KEY (away_team_id) REFERENCES teams(team_id)
);

CREATE TABLE box_scores (
    box_score_id SERIAL PRIMARY KEY,
    team_id INT,
    player_id INT,
    game_id INT,
    is_starter BOOLEAN,
    minutes_played DECIMAL,
    field_goals_made INT,
    field_goals_attempted INT,
    field_goals_percentage DECIMAL GENERATED ALWAYS AS (COALESCE ((field_goals_made / NULLIF (field_goals_attempted, 0)), 0)) STORED,
    three_pointers_made INT,
    three_pointers_attempted INT,
    three_pointers_percentage DECIMAL GENERATED ALWAYS AS (COALESCE ((three_pointers_made / NULLIF (three_pointers_attempted, 0)), 0)) STORED,
    free_throws_made INT,
    free_throws_attempted INT,
    free_throws_percentage DECIMAL GENERATED ALWAYS AS (COALESCE ((free_throws_made / NULLIF (free_throws_attempted, 0)), 0)) STORED,
    offensive_rebounds INT,
    defensive_rebounds INT,
    total_rebounds INT GENERATED ALWAYS AS (offensive_rebounds + defensive_rebounds) STORED,
    assists INT,
    steals INT,
    blocks INT,
    turnovers INT,
    personal_fouls INT,
    points INT GENERATED ALWAYS AS (((field_goals_made - three_pointers_made) * 2) + (three_pointers_made * 3) + free_throws_made) STORED,
    plus_minus INT,
    FOREIGN KEY (team_id) REFERENCES teams (team_id),
    FOREIGN KEY (player_id) REFERENCES players (player_id),
    FOREIGN KEY (game_id) REFERENCES games (game_id)
);

 * postgresql://root:***@host.docker.internal/local_pg_db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [24]:
%%sql

-- function to insert team

CREATE OR REPLACE PROCEDURE insert_team (p_team_name VARCHAR[]) AS
    $$ BEGIN
        INSERT INTO teams (team_name) SELECT UNNEST (p_team_name)
        ON CONFLICT (team_name) DO NOTHING;
    END $$ LANGUAGE PLPGSQL;

-- dummy data example (teams)

CALL insert_team (ARRAY[
    'Atlanta Hawks',
    'Boston Celtics',
    'Brooklyn Nets',
    'Charlotte Hornets',
    'Chicago Bulls',
    'Cleveland Cavaliers',
    'Dallas Mavericks',
    'Denver Nuggets',
    'Detroit Pistons',
    'Golden State Warriors',
    'Houston Rockets',
    'Indiana Pacers',
    'Los Angeles Clippers',
    'Los Angeles Lakers',
    'Memphis Grizzlies',
    'Miami Heat',
    'Milwaukee Bucks',
    'Minnesota Timberwolves',
    'New Orleans Pelicans',
    'New York Knicks',
    'Oklahoma City Thunder',
    'Orlando Magic',
    'Philadelphia 76ers',
    'Phoenix Suns',
    'Portland Trail Blazers',
    'Sacramento Kings',
    'San Antonio Spurs',
    'Toronto Raptors',
    'Utah Jazz',
    'Washington Wizards'
]);

 * postgresql://root:***@host.docker.internal/local_pg_db
Done.
Done.

[]

In [27]:
%%sql

CREATE OR REPLACE PROCEDURE insert_player (
    p_player_name VARCHAR,
    p_team_id INT,
    p_height INT,
    p_weight INT,
    p_handedness VARCHAR
) AS
    $$
        INSERT INTO players (player_name, team_id, height, weight, handedness)
        VALUES (p_player_name, p_team_id, p_height, p_weight, p_handedness);
    $$ LANGUAGE SQL;

 * postgresql://root:***@host.docker.internal/local_pg_db
Done.

[]

In [ ]:
%%sql

CREATE OR REPLACE PROCEDURE insert_game (
    p_game_date DATE,
    p_home_team_id INT,
    p_away_team_id INT
) AS
    $$
        INSERT INTO games (game_date, home_team_id, away_team_id)
        VALUES (p_game_date, p_home_team_id, p_away_team_id);
    $$ LANGUAGE SQL;

insert_game ()

 * postgresql://root:***@host.docker.internal/local_pg_db
Done.

[]

In [28]:
%%sql

CREATE OR REPLACE PROCEDURE insert_box_score (
    p_team_id INT,
    p_player_id INT,
    p_game_id INT,
    p_is_starter BOOLEAN,
    p_minutes_played DECIMAL,
    p_field_goals_made INT,
    p_field_goals_attempted INT,
    p_three_pointers_made INT,
    p_three_pointers_attempted INT,
    p_free_throws_made INT,
    p_free_throws_attempted INT,
    p_offensive_rebounds INT,
    p_defensive_rebounds INT,
    p_assists INT,
    p_steals INT,
    p_blocks INT,
    p_turnovers INT,
    p_personal_fouls INT,
    p_plus_minus INT
) AS
    $$ DECLARE p_points INT;
    BEGIN
        p_points := ((p_field_goals_made - p_three_pointers_made) * 2) + (p_three_pointers_made * 3) + p_free_throws_made;
        INSERT INTO box_scores (
            game_id,
            player_id,
            is_starter,
            minutes_played,
            field_goals_made,
            field_goals_attempted,
            three_pointers_made,
            three_pointers_attempted,
            free_throws_made,
            free_throws_attempted,
            offensive_rebounds,
            defensive_rebounds,
            assists,
            steals,
            blocks,
            turnovers,
            personal_fouls,
            plus_minus
        ) VALUES (
            p_game_id,
            p_player_id,
            p_is_starter,
            p_minutes_played,
            p_field_goals_made,
            p_field_goals_attempted,
            p_three_pointers_made,
            p_three_pointers_attempted,
            p_free_throws_made,
            p_free_throws_attempted,
            p_offensive_rebounds,
            p_defensive_rebounds,
            p_assists,
            p_steals,
            p_blocks,
            p_turnovers,
            p_personal_fouls,
            p_plus_minus
        );
        SELECT home_team_id, away_team_id FROM games
        WHERE game_id = p_game_id;
        IF EXISTS (SELECT 1 FROM players WHERE player_id = p_player_id AND team_id = home_team_id) THEN
            UPDATE games
            SET home_team_points = home_team_points + p_points
            WHERE game_id = p_game_id;
        ELSE
            UPDATE games
            SET away_team_points = away_team_points + p_points
            WHERE game_id = p_game_id;
        END IF;
    END $$ LANGUAGE PLPGSQL;

--

 * postgresql://root:***@host.docker.internal/local_pg_db
Done.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

CREATE OR REPLACE

 * postgresql://root:***@host.docker.internal/local_pg_db
(psycopg2.errors.UndefinedFunction) function insert_box_score() does not exist
LINE 1: SELECT insert_box_score()
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT insert_box_score()]
(Background on this error at: https://sqlalche.me/e/20/f405)